@import url(http://fonts.googleapis.com/css?family=Oswald);
html, body, #container {
	background-color: #000000;
	font-family: 'Oswald', sans-serif;
	color: #FFCC66;
	height: calc(100% - 3em);
	min-width: 560px;
}

body > #container {
	height: auto;
	min-height: 100%;
}

#footer {
	clear: both;
	position: relative;
	height: 3em;
	margin-top: -1em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	color: #FF9900;
}

.ital {
	font-style: italic;
}

.clear {
	clear: both;
}

#name {
	margin-bottom: 0.2em;
}

#title {
	margin-top: 0em;
	margin-bottom: 0.25em;
}

.with-border {
	border-color: #FF9900;
	background-color: #FF9900;
	border-left-style: solid;
	border-left-width: 8em;
	margin-bottom: 0.5em;
}

.with-bottom-left-border {
	border-bottom-style: solid;
	border-bottom-width: 1em;
	border-bottom-left-radius: 2em;
}

.with-top-left-border {
	border-top-style: solid;
	border-top-width: 1.2em;
	border-top-left-radius: 2em;
}

#heading.with-border {
	border-color: #9999CC;
	background-color: #9999CC;
}

.inner-border {
	height: 100%;
	border-color: #000000;
	background-color: #000000;
	border-left-style: solid;
	border-left-width: 1.75em;
}

.with-bottom-left-border .inner-border {
	border-bottom-left-radius: 2em;
}

.with-top-left-border .inner-border {
	border-top-left-radius: 2em;
}

.inline {
	display: inline-block;
}

.button {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

.button,
.button a {
	color: #000000;
	text-decoration: none;
}

.button {
	font-size: 1.5em;
	background-color: #CC99CC;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	margin-top: 0.6em;
	margin-bottom: 0.6em;
}

.button:hover {
	cursor: pointer;
	background-color: #CC6666;
	color: #000000;	
}

.left-end {
	padding-left: 1em;
	border-bottom-left-radius: 1em;
	border-top-left-radius: 1em;
}

.right-end {
	padding-right: 1em;
	border-bottom-right-radius: 1em;
	border-top-right-radius: 1em;
}

.nav {
	margin-top: 0em;
	margin-bottom: 0.15em;
	background-color: #9999CC;
}

.nav a {
	display: inline-block;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.4em;
	width: calc(100% - 0.4em);
}

#main {
	min-height: 20em;
	border-left-style: solid;
	border-left-width: 8em;
	margin-bottom: 2em;
	max-width: 1600px;
}

#main .button {
	padding: 0;
}

.content {
	font-size: 1.1em;
}

.content a {
	color: #FF9966;
	text-decoration: none;
}

.content a:hover {
	color: #9999CC;	
	text-decoration: underline;	
}

.ui-state-active {
	background-color: #FF9966;
}

.ui-tabs-panel {
	margin-left: 3em;
}

.ui-tabs-nav {
	margin-top: 0em;
	padding-left: 0em;
	float: left; 
	width: 8em;
	margin-left: -8em;
	background-color: #000000;
}

.skill { 
  margin-left: 0.75em;
	margin-right: 2.75em;
}

.skill-name { 
  font-size: 1.25em;
  float: left; 
}

.skills-xp { 
	margin-left: 6em;
	margin-top: 0.2em;
}

.skills-xp .box {
  border-style: solid;
  border-width: 0.1em;
  width: 1.1em;
  height: 1.1em;
  margin: 0.15em;
}

.skills-xp .filled { 
  background-color: #FF9966; 
}

.title::after,
.major::after {
	content: " -";
	font-size: 0.95em;
	padding: 0.25em;
}

.dates {
	margin-bottom: 1.2em;
}
